version: "3.8"

services:
  qr-c:
    container_name: qr-c
    image: my_qr
    build:
      context: ./qr-c       # Build context for the QR C application
      dockerfile: Dockerfile
    network_mode: host      # Share host network for direct serial access
    user: root              # Run as root to access /dev/tty* devices
    restart: unless-stopped # Automatically restart unless explicitly stopped
    environment:
      SERIAL_PORT: /dev/ttyS1        # Serial port used by QR app
      SERIAL_BAUD: "115200"          # Baud rate for serial communication
      READ_TIMEOUT_MS: "10000"       # Read timeout in milliseconds
    entrypoint: /bin/sh
    command: >
      -c "apk add --no-cache socat &&
          mkdir -p /app/logs &&
          chmod 777 /app/logs &&
          mkfifo /tmp/cmd_pipe &&
          socat -d -d pty,raw,echo=0,link=/dev/ttyS1 pty,raw,echo=0,link=/dev/ttyS2 &
          sleep 3 &&
          test -e /dev/ttyS1 || ln -s /dev/pts/0 /dev/ttyS1 &&
          test -e /dev/ttyS2 || ln -s /dev/pts/1 /dev/ttyS2 &&
          chmod 666 /dev/ttyS1 /dev/ttyS2 &&
          /app/qr_serial < /tmp/cmd_pipe | python3 process.py"


  gateway:
    container_name: gateway
    image: my_gateway
    build:
      context: ./gateway-py     # Build context for Python MQTT gateway
      dockerfile: Dockerfile
    network_mode: host          # Use host network for direct MQTT access
    restart: unless-stopped     # Automatically restart unless explicitly stopped
    depends_on:
      - qr-c                    # Ensure qr-c container starts before gateway
